{% extends 'base.html' %} {% block content %} {% if object %}
<h1 class="editShoeHead"> <i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i> Edit {{ object.name }} <i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i> </h1>
{% else %}
<h1 class = "addShoeHead"><i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i></i> Add Shoe <i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i></i></h1>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input
    class="updateShoeBtn"
    type="submit"
    value="{% if object %} Update Shoes {% else %} ADD SHOE {% endif %}"
  />
</form>

{% endblock %}




