{% extends 'base.html' %} {% block content %}

<h1> Shoe Details </h1>

<div class="card">
  <a href="{% url 'shoes_detail' shoe.id %}">
    <div class="card-content">
      <span class="card-title"
        >A
        <span class="{{ shoe.size }}">{{ shoe.size }}</span>
        {{shoe.name}}</span
      >
    </div>
    <div class="card-action">
      <a href="{% url 'shoes_update' shoe.id %}">Edit</a>
      <a href="{% url 'shoes_delete' shoe.id %}">Delete</a>
    </div>
  </a>
</div>

{% endblock %}