{% extends 'base.html' %} {% block content %}

<h1 id = "ourStory"> Our Story... <i class="em em-book" aria-role="presentation" aria-label="OPEN BOOK"></i> <div class="leftBallHead"> <i class='fas fa-basketball-ball'></i> </div></h1>
<div class="aboutParagraph">
  <p id="aboutParagraph"> Basketballs_My_Player has allowed avid <br> and authenticated basketball fans the <br> ability to create, read, update, and delete <br> both shoes and players! In addition, users are <br> able to add games for each player created <br> (a one to many relationship between players <br> and games). AWS is included as well to allow users <br> the ability to insert pictures for the location of their games! </p>
</div>



{% endblock %} 