{% extends 'base.html' %} {% block content %}

<h2 id = "AttentionHead"> <div class="leftBallHead"><i class='fas fa-basketball-ball'></i> </div> ATTENTION ALL BASKETBALL FANS <div class="rightBballHead"><i class='fas fa-basketball-ball'></i> </div> <h2>
<h1 id = "signupIf"> Sign-Up if... You Like Basketball <div class="exclamationMark1"><span>&#33;</span></div> 
<div class="exclamationMark2"><span>&#33;</span> 
</div> 
<div class="exclamationMark3"><span>&#33;</span>
</div> 
</h1>
<image id = "bron" src="https://media1.giphy.com/media/xTiTnpcaFPfJAzaP8A/giphy.gif"> </image>

{% endblock %} 