body {
  /* background-image: url("https://wallpapers-hub.art/wallpaper-images/406206.jpg"); */
  background-color: black
  ;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  color: whitesmoke;
  font: bold;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
label {
  color: whitesmoke
}
footer {
  padding-top: 0;
  text-align: right;
}