{% extends 'base.html' %} {% block content %}

<h1> Player Details </h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ player.name }}</span>
        <p>College: {{ player.college }}</p>
        <p>PPG: {{ player.ppg }}</p>
        {% if player.age > 0 %}
        <p>Age: {{ player.age }}</p>
        {% else %}
        <p>Age: n/a</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'players_update' player.id %}">Edit</a>
        <a href="{% url 'players_delete' player.id %}">Delete</a>
    </div>
  </div>
    <form action="{% url 'add_game' player.id %}" method="post">
      {% csrf_token %} {{ games_form.as_p }}
      <input type="submit" class="btn" value="Add Game" />
    </form>
    <br />
    {% if player.no_more_games_today %}
    <div class="card-panel teal-text center-align">
      {{player.name }} has played all games today
    </div>
    {% else %}
    <div class="card-panel red-text center-align">
      {{player.name}} might have more games today
    </div>
    {% endif %}
    {% for photo in player.photo_set.all %}
      <img class="responsive-img card-panel" src="{{ photo.url }}" alt="{{ player.name }}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form
      action="{% url 'add_photo' player.id %}"
      class="card-panel"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br /> 
      <br /> 
      <input type="submit" class="btn" value="Upload Photo">
    </form>
    <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Game</th>
        </tr>
      </thead>
      <tbody>
        {% for game in player.games_set.all %}
        <tr>
          <td>{{game.date}}</td>
          <td>{{game.get_game_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class = "row">
  <div class="col s6">
    <h3> {{ player.name }}'s Shoes</h3>
    {% if player.shoes.count %} {% for shoe in player.shoes.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
        A <span style="size: {{ player.size }}"> {{ player.size }}</span>
        {{ player.name }}
      </span>
    </div>
    <div class="card-action">
      <form action="{% url 'assoc_player_delete' player.id shoe.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Remove</button>
      </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <h5> No Shoes :( </h5>
  {% endif %}
</div>
<div class="col s6">
  <h3>Available Shoes</h3>
  {% if shoes.count %} {% for shoe in shoes.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        A <span style="color: {{ shoe.size }}">{{ shoe.size }}</span>
        {{ shoe.name }}
      </span>
    </div>

    <div class="card-action">
      <form action="{% url 'assoc_shoe' player.id shoe.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <h5>{{player.name}} Already Has All shoes Available</h5>
  {% endif %}
</div>

    <script>
      var dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });

      var selectEl = document.getElementById('id_meal');
      M.FormSelect.init(selectEl);
    </script>
  {% endblock %}
  </div>


