{% extends 'base.html' %} {% block content %}

<h1 class = "myPlayerHeader"> <i class="em em-man-bouncing-ball" aria-role="presentation" aria-label=""></i>  My Player Details <i class="em em-woman-bouncing-ball" aria-role="presentation" aria-label=""></i></h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-titlePlayer">{{ player.name }}:</span>
        <ul class="playerKey">
          <li class = "playerKey">| PPG - points per game |</li>
          <li class = "playerKey">| APG - Assists per game |</li>
          <li class = "playerKey">| RPG - Rebounds per game |</li>
          <li class = "playerKey">| SPG - Steals per game |</li>
          <li class = "playerKey">| PER - Player efficiency rating |</li>
        </ul>
          {% if player.age > 0 %}
          <p>Age: {{ player.age }}</p>
          <p>Height: {{ player.height }}</p>
          <p>Weight: {{ player.weight }}</p>
          <p>College: {{ player.college }}</p>
          <p>PPG: {{ player.ppg }}</p>
          <p>APG: {{ player.apg }}</p>
          <p>PPG: {{ player.rpg }}</p>
          <p>SPG: {{ player.spg }}</p>
          <p>PER: {{ player.per }}</p>
        {% else %}
        <p>Age: n/a</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'players_update' player.id %}">Edit</a>
        <a href="{% url 'players_delete' player.id %}">Delete</a>
      </div>
    </div>

  <form action="{% url 'add_game' player.id %}" method="post">
      {% csrf_token %} {{ games_form.as_p }}
      <input type="submit" class="btn" value="Add Game" />
  </form>
    <br />
    {% if player.no_more_games_today %}
    <div class="card-panel teal-text center-align">
      {{player.name }} has played all games today
    </div>
    {% else %}
    <div class="card-panel red-text center-align">
      {{player.name}} might have more games today
    </div>
    {% endif %}
    {% for photo in player.photo_set.all %}
      <img class="responsive-img card-panel" src="{{ photo.url }}" alt="{{ player.name }}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded (Upload a Picture of your Player)</div>
    {% endfor %}
    <form
      action="{% url 'add_photo' player.id %}"
      class="card-panel"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br /> 
      <br /> 
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  </div>
    <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Game</th>
        </tr>
      </thead>
      <tbody>
        {% for game in player.games_set.all %}
        <tr>
          <td>{{game.date}}</td>
          <td>{{game.get_game_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<hr />
<div class = "row">
  <div class="col s6">
    <h3> <i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i> {{ player.name }}'s Shoes</h3>
    {% if player.shoes.count %} {% for shoe in player.shoes.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
        <span> SHOE NAME: {{ shoe.name }}</span> <br>
        <span> SHOE SIZE: {{ shoe.size }}</span>

    </div>
    <div class="card-action">
      <form action="{% url 'assoc_shoe_delete' player.id shoe.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Remove</button>
      </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <h5> No Shoes :/ Go add some! </h5>
  {% endif %}
</div>
<div class="col s6">
  <h3><i class="em em-athletic_shoe" aria-role="presentation" aria-label="ATHLETIC SHOE"></i> Available Shoes</h3>
  {% if shoes.count %} {% for shoe in shoes.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <span> SHOE NAME: {{ shoe.name }}</span> <br>
        <span> SHOE SIZE: {{ shoe.size }}</span>
    </div>
    <div class="card-action">
      <form action="{% url 'assoc_shoe' player.id shoe.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
  {% endfor %} {% else %}
  <h5>{{player.name}} Already Has All shoes Available</h5>
  {% endif %}
</div>

    <script>
      var dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });

      var selectEl = document.getElementById('id_game');
      M.FormSelect.init(selectEl);
    </script>
  {% endblock %}
  </div>


