{% extends 'base.html' %} {% block content %}
<h1 id = "bball-list"> <i class="em em-man-bouncing-ball" aria-role="presentation" aria-label=""></i> Basketball Player List <i class="em em-woman-bouncing-ball" aria-role="presentation" aria-label=""></i></h1>

{% for player in players %}
<div class="card">
  <a href ="{% url 'detail' player.id %}">
    <div class="card-content">

      <span class="card-titlePlayer">{{ player.name }}:</span>
      {% if player.age > 0 %}
      <p>Age: {{ player.age }}</p>
      <p>Height: {{ player.height }}</p>
      <p>Weight: {{ player.weight }}</p>
      <p>College: {{ player.college }}</p>
      <p>PPG: {{ player.ppg }}</p>
      <p>APG: {{ player.apg }}</p>
      <p>PPG: {{ player.rpg }}</p>
      <p>SPG: {{ player.spg }}</p>
      <p>PER: {{ player.per }}</p>
     
      <button class="detailsBtn"> View Details </button>
      {% else %}
      <p>Age: n/a</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}