{% extends 'base.html' %} {% block content %}
<h1 id = "bball-list"> <i class="em em-man-bouncing-ball" aria-role="presentation" aria-label=""></i> Basketball Player List <i class="em em-woman-bouncing-ball" aria-role="presentation" aria-label=""></i></h1>

{% for player in players %}
<div class="card">
  <a href ="{% url 'detail' player.id %}">
    <div class="card-content">
      <span class="card-title">{{ player.name }}</span>
      <p>College: {{ player.college }}</p>
      <p>PPG: {{ player.ppg }}</p>
      {% if player.age > 0 %}
      <p>Age: {{ player.age }}</p>
      {% else %}
      <p>Age: n/a</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}